body {
    background-image: url("../images/wheat.png");
}

.jumbotron {
    background-color: darkslategray;
    color: wheat;
}

button {
    color: darkslategray;
    background-color: wheat;
    border-color: wheat;
    border-radius: 2px;
}
/* #gifs-appear-here {
    align: right;
} */